<article class="tasks_index">
  <h1>タスク一覧</h1>
  <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>

  <div class="task_nav">
    <p class="sort_expired flex">
      <%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
      <%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %>
      <%= link_to "登録日が新しい順に戻す", tasks_path %>
    </p>
    <div class="search_box" >
      <%= form_with(model: Task.new, local: true, method: :get, url: tasks_path ) do |form| %>
        <%= form.label :search_title, "タスク名" %>
        <%= form.text_field :search_title, placeholder: "タスク名で検索" %>
        <%= form.label :search_status, "ステータス" %>
        <%= form.select :search_status, Task.statuses.keys, { include_blank: '選択して下さい'} %>
        <%= form.label :search_priority, "優先順位" %>
        <%= form.select :search_priority, Task.priorities.keys, { include_blank: '選択して下さい'} %>

        <%= form.submit "検索", name: "search" %>
      <% end %>
    </div>
  </div>

  <ul class="tasklist">
    <% @tasks.each do |task| %>
    <%# <tr class="task_row"> %>
      <li>
        <p>
          <span class="item_name">
            タスク名
          </span>
          <div class="item_name tasks-index_item_title" id=<%= "tasks-index_item_title-#{task.id}" %>>
            <%= task.title %>
          </div>
          </p>
        <p>
          <span class="item_name">
            内容
          </span>
          <div class="item_name tasks-index_item_content" id=<%= "tasks-index_item_content-#{task.id}" %>>
            <%= task.content %>
          </div>
          </p>
        <p>
          <span class="item_name">
            投稿日時
          </span>
          <div class="item_name tasks-index_item_created_at" id=<%= "tasks-index_item_created_at-#{task.id}" %>>
            <%= l task.created_at, format: :long %>
          </div>
          </p>
        <p>
          <span class="item_name">
            期限
          </span>
          <div class="item_name tasks-index_item_expired_at" id=<%= "tasks-index_item_expired_at-#{task.id}" %>>
            <%= l task.expired_at, format: :long  %>
          </div>
          </p>
        <p>
          <span class="item_name">
            ステータス
          </span>
          <div class="item_name tasks-index_item_status" id=<%= "tasks-index_item_status-#{task.id}" %>>
            <%= task.status %>
          </div>
          </p>
        <p>
          <span class="item_name">
            優先順位
          </span>
          <div class="item_name tasks-index_item_priority" id=<%= "tasks-index_item_priority-#{task.id}" %>>
            <%= task.priority %>
          </div>
          </p>
        <p class="btns">
          <%= link_to '詳細', task_path(task.id) %>
          <%= link_to '編集', edit_task_path(task.id), data: { confirm: 'Are you sure to edit?' } %>
          <%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </li>
    <% end %>
  </ul>
    <div class="pagination_block">
    <%= paginate @tasks %>
  </div>
  <p class="task_new"><%= link_to 'タスク作成', new_task_path %></p>
</article>